<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="style.css">
</head>
<!-- .menu+.menu-options.+(.formula-bar>(input[type = "text"]*2))+.cell-container+.sheets -->

<body>
    <div class="menu">Menu</div>
    <div class="menu-options">Menu Options</div>
    <div class="formula-bar">Formula bar<input type="text"><input type="text"></div>
    <div class="cell-container">cell-container
        <%for(let i=1;i<rows;i++){%>
        <div class="row">
            <%for(let j=0;i<cols;i++){%>
                <div class="col">
                    <%i + " - "+String.fromCharCode(65+j) %>
                </div>
            <%}%>
            </div>
        <%}%>
        </div>
        <div class="sheets">sheets</div>


</body>

</html>