html,body{
    margin: 0px;
    padding: 0px;
    color: #777;
    font-family: sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

*{ /* to apply on whole page*/
    box-sizing: border-box;
}

.menu{
    height: 22px;
    border: solid red;
}
.menu-items{
    width: 45px;
    font-size: 90%;
    text-align: center;
}
.menu-options-item{
    display: none;
}
.selected{
        display: block;
}
.menu-options{
    height: 56px;
    border: 1px solid green;
} 

/* formula bar... */
.formula-bar{
    height: 26px;
    border: 1px solid yellow;
}

.cell-container{
    height: calc(100vh - 124px); /*100vh means 100% of vertical height i.e. complete height of browser window*/
    overflow: auto;
    position: relative;
}

/* .col{
    height: 25px;
    border: 1px solid;
    min-width: 50px;
} */
.top-row{
    display: flex;
    position: absolute;
    left: 26px;
    height: 25px;
    top: 0px;
    background-color:lightgrey;
    text-align: center;
}
.top-left-cell{
    height: 25px;
    width: 25px;
    background-color: gray;
    position: absolute;
}
.top-row>.cell{
    min-width: 87px ;
    border: 1px solid;
}
.left-col{
    position: absolute;
    top: 25px;
}
.left-col>.cell{
    width: 25px;
    height: 25px;
    background-color:lightgrey;
    border: 1px solid;
}
.row{
    display: flex;
}
.row>.cell{
    min-width: 87px;
    border: 1px solid teal;
    text-align: center;
    min-height: 25px;
}
.grid{
    position: absolute;
    left: 26px;
    top: 25px;
}
.sheets{
    height: 20px;
    border: 1px solid darkslategray;
}
.ib{
    display: inline-block;
}
