html,body{
    margin: 0px;
    padding: 0px;
}

*{ /* to apply on whole page*/
    box-sizing: border-box;
}

.menu{
    height: 22px;
    border: solid red;
}
.menu-options{
    height: 56px;
    border: 1px solid green;
} 
.formula-bar{
    height: 26px;
    border: 1px solid yellow;
}

.cell-container{
    height: calc(100vh - 124px); /*100vh means 100% of vertical heiht i.e. complete height of browser window*/
    background-color: wheat;
    overflow: auto;
}
.sheets{
    height: 20px;
    border: 1px solid darkslategray;
}