Test
node_modules
cred.json
Electron/Activity/node_modules/
Electron/Activity/package-lock.json
Electron/Activity/tetsttts.txt
Electron/Revision/node_modules/
Electron/VS-clone/node_modules/
Electron/VS-clone/package-lock.json
