body{
    margin-left: 5px;
    margin-right: 5px;
    width: max-content;
}

input{
    margin-top: 2px;
    margin-bottom: 7px;
    margin-right: 5px;
    margin-left: 3px;
}

button{
    margin-left: 4px;
    margin-bottom: 5px;
}